@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&family=Karla:wght@400;700&display=swap");

* {
  box-sizing: border-box;
  
}
body {
  background: #F5F7FB;
  font-family: "Karla", sans-serif;
  margin: 0 auto;
  color: #293264;
  overflow: clip;  
}
main {
  display: flex; 
  justify-content: center;
  overflow: clip;  
  min-width: 550px;
  align-items: center;
  height: 100vh;
}

.container .blob-top {
  overflow: clip;  
  position: absolute;
  right: -230px;
  top: -230px;
  border-radius: 94% 31% 30% 67% / 67% 37% 56% 34%;
  width: 300px;
  height: 400px;
  background: #FFFAD1;
  transform: rotate(-128.49deg);
}

.container .blob-bottom{
  overflow: hidden;  
  position: absolute;
  left: -200px;
  bottom: -120px;
  border-radius: 54% 41% 30% 44% / 49% 37% 66% 44%;
  width: 350px;
  height: 250px;
  background: #DEEBF8;
  transform: rotate(180deg);
}

button {
  background-color: #4D5B9E;
  color: white;
  border: none;
  padding: 15px 25px;
  border-radius: 10px;
  cursor: pointer;
  font-size: 12px;
  font-family: "Inter", sans-serif;
  font-weight: 600;
}

.start-section {
  text-align: center;
  vertical-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.question-section {
  padding: 10%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 10px;
}

.question-section button {
  align-self: center;
}

.qa-block {
  border-bottom: 1px solid #DBDEF0;
  padding-bottom: 1rem;
}

.qa-block h2 {
  font-size: 16px;
}

.answer-section {
  display: flex;
  gap: 10px;   
  align-items: center;
  font-family: "Inter", sans-serif;
}

.answer-blocks {
  border: 1px solid #4D5B9E;
  font-weight: 400;
  border-radius: 10px;
  padding: .25rem .5rem;
  font-size: 13px;
  font-weight: 500;
  text-align: center;
  cursor: pointer;
  
}

.selected-answer {
  background: #D6DBF5;
  border-color: #D6DBF5;
}

.correct {
  background: #94D7A2;
  border-color: #94D7A2;
}

.wrong {
  background: #F8BCBC;
  border-color: #F8BCBC;
  pointer-events: none;
}

.opacity {
  color: rgba(41, 50, 100, .5);
  border-color: rgba(41, 50, 100, .5);
  
}

.disable-click {
  pointer-events: none;
}

.score-section{
  display: flex;
  font-family: "Inter", sans-serif;
  font-weight: 700;
  align-items: center;   
  justify-content:  center;
  gap: 10px;
}